.App {
  text-align: center;
  background: rgb(2, 0, 36);
  background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 0.5189048833819242) 35%, rgba(0, 212, 255, 1) 100%);
  font-family: Georgia, serif;
  font-size: 27px;
  letter-spacing: 2px;
  word-spacing: 2px;
  color: #5B5B5B;
  font-weight: 400;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
}

.App p {
  margin-top: 0;
}